<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body ng-app="control" ng-controller="ctrldemo">
	<input type="number" ng-model="num1">
	<input type="number" ng-model="num2">
	<input type="number" value="{{num1 + num2}}">
	<button ng-click="update()">submit</button>
	
	
	<script src="js/angular.min.js"></script>
	<script src="app/app.js"></script>
</body>
</html>